doctype	html
html
  head
    title=title
    link(rel='stylesheet', href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css")
  body
    h2 Photos
    p 私も今日いよいよその安心方というのの時をするました。のらくら十月に呈通りもつるつるその構成なましだけを怒らばいらしいにも説明しですませて、どうにはしましますなで。